.container__sidebar {
  height: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.sidebar {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  color: #2b2b2b;
  font-size: 16px;
  line-height: 24px;
  font-weight: regular;
  position: relative;
  justify-content:space-between;
  align-items:center;
}


.sidebar__footer >a{
  text-decoration: none;
  color:inherit;
  flex:1;
  align-items: flex-end;

}

.sidebar_header {
  display: flex;
  gap: 1rem;
  flex:1;
  align-items: flex-start;
}

.sidebar_body {
  display: flex;
  flex-direction: column;
  flex:3;
  align-items: center;


}
.sidebar_body .Accordion__container {
  box-shadow: none;
  background: transparent;
}

.sidebar_body .Accordion__container a {
  text-decoration: none;
  color: #1d2939;
}
.sidebar_body .accordion__content {
  margin: 0.5rem;
}
.sidebar_body .accordion__content a {
  text-decoration: none;
  color: #1d2939;
  width: 100%;
  padding: 1rem;
}


.sidebar_body > a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin: 1rem 0px;
  padding:1rem ;
}
.sidebar_body span {
  color:#2b2b2b;
}

.sidebar_body .active {
  font-weight: bold;
  border-radius: 8px;
  background: #eef2ff;
  border-radius: 20px;
}

.sidebar_body a div {
  display: flex;
  gap: 0.4rem;
}

.sidebar_body .count {
  background: rgb(242, 244, 247);
  padding: 2.5px 6px;
  color: rgb(52, 64, 84);
  border-radius: 6px;
}
