.data__multiple {
    background-color: #E8EBFE;
    padding:2rem;
    border-radius: 20px;
    height:max-content;
}

.data__multiple:hover{
    box-shadow:0 0 10px #2b2b2b25;
}


.data__multiple .day{
    font-size:1.2rem;
    font-weight:700;
}

.data__multiple .date{
    font-size:1.4rem;
    font-weight:400;
    margin:0
}


.data__items_container{
    display:flex;
    justify-content:space-between;;
    align-items:center;
    font-size: 1rem;
    flex-wrap: wrap;
}


.data__item{
    display: flex;
    justify-content:flex-start;
    flex-direction:column;
    flex:1;
    padding:1rem;
}

.data__item .icon{
    margin-bottom:1rem;
    background:#fff;
    width:max-content;
    padding:0.5rem;
    border-radius: 50%;
}

.data__item .icon svg{
}

.data__item h4{
font-weight: 500;
font-size: 0.9rem;
color: #888686;
text-transform: capitalize;
}

.data__item h3{
    font-style: normal;
font-weight: 700;
font-size: 30px;
color: #2b2b2b;
}


