.greeting__container h2{
    font-size:1.4rem;
    font-weight:medium;
    color:#2b2b2b;
}

.greeting__container h2 {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.greeting__container h2 div{
font-weight: 700;
font-size: 18px;
    justify-self: flex-end;

}

.greeting__container h2 div span{
font-weight: 700;
font-size: 16px;

}

.greeting__container h2 span{
    color:#FF5959;
}

.greeting__container p{
    font-weight: 400;
    font-size:1rem;
}

.greeting{
    display:flex;
    justify-content:space-between;

}