.form__container {
  background: #e8ebfe60;
  padding: 2rem 4rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.form__container h2 {
  font-weight: 900;
  font-size: 30px;
}
.form__container input {
  height: 100%;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  background: #c5d1f8;
  border: none;
  border-radius: 10px;
  font-weight: 500;
}

.form__container p {
  color: rgb(238, 139, 139);
}
