.account{
    display: flex;
    justify-content: center;
    background-color:#E8EBFE;
    flex-direction:column;
    align-items:stretch;
    gap: 2rem;
    width:max-content;
    padding:1rem ;
    border:none;
    border-radius: 1.3rem;
    height:max-content;
    position: relative;
    width:max-content
}

.account:hover{
    box-shadow:0px 0px 10px #2b2b2b40;
}

.account img{
    width:auto;
    max-width:150px;
    height:auto;
    min-height:80px;
}

.account h4{
    font-weight:400;
    font-size: 1.2rem;
    margin: 0;
}


.connected__account{
    flex-direction: row;
    justify-content:center;
    align-items:center;
    padding: 1rem 2rem;
 }
 
 .connected__account img{
     width:100px
 }

 

 .connected__user__information p{
    margin:0;
    text-align:left;
}

.connected__user__information h4{
    margin:0;
    font-size:1.2rem;
    font-weight: 700;
    text-align:left;
    text-transform: capitalize
}


.connected svg:hover{
    opacity:0.2;
}

.connected {
    display: flex;
    gap: 1rem;;
}