.home__container{
    display: flex;
    justify-content: space-between
}

.home__container .data__container{
    flex:2;
}

.data__container .single__data__container{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.home__container .notification__container{
    flex:1;
}